/*You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');

.container {
 text-align: center;
}

.header {
	color: violet;
}

.toggle {
	margin: 15px auto;
}

.link {
	text-decoration: none;
}

.button {
	margin-left: 5px;
	width: 60px;
	outline: none;
	cursor: pointer;
	border: none;
}

.button--primary {
	height: 26px;
	background-color: violet;
	color: white;
}

.button--primary:disabled {
	background-color: #ebb9eb;
}

.button--secondary {
	color: violet;
}

.list {
	width: 300px;
	margin: 30px auto;
}

.list li {
	text-align: left;
}

.right {
	float: right;
}
